@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to right, #ca23c2, #4d65f1);
}

.calculator {
  position: relative;
  display: grid;
}
 .value {
  grid-column: span 4;
  height: 100%;
  text-align: right;
  font-weight: bolder;
  border: none;
  outline: none;
  padding: 27%;
  font-size: 100%;
  background-color: #ffffff1a;
}

.container {
  border: 2px solid rgb(255, 255, 255, 0.3);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.calculator span {
  display: grid;
  width: 70px;
  height: 70px;
  color: black;
  background: #ffffff1a;
  place-items: center;
  border: 0.5px solid rgb(0, 0, 0, 0.1);
  padding: 13px;
}

.calculator span:hover {
  background: #1b3152;
  color: #fff;
  transform: translateY(0) scale(1.1);
  transition: top ease 0.5s;
}

.calculator span.clear {
  grid-column: span 2;
  width: 140px;
  background: rgba(255, 255, 255, 0.3);
}

.calculator span.plus {
  grid-row: span 2;
  height: 140px;
}

.calculator span.equal {
  background: rgba(255, 255, 255, 0.2);
}
.calculator span.plus:hover{
  border-radius: 3px;
}

.calculator span.equal:hover {
  border-radius: 3px;
}